{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="book-container">
  <div class="book-img">
    <img src="{% static 'images/book2.svg' %}" alt="books" />
  </div>
  <div class="book-details">
    <h2 class="card-title">Title: {{ book.title }}</h2>
      <h2 class="card-title">Author: {{ book.author }}</h2>
      <h2 class="card-title">Genre: {{ book.genre }}</h2>
      <h2 class="card-title">Description/Notes: {{ book.description }}</h2>
      <div class="book-actions">
        <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
        <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
      </div>
    </div>
</section>
<section class="readings-container">
  <div class="readings">
    <div class="subsection-title">
      <h2>Readings</h2>
      <img
        src="{% static 'images/book1.svg' %}"
        alt="A book"
      />
    </div>
    <h3>Add a Reading</h3>

<form action="{% url 'add-reading' book.id %}" method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ reading_form.as_p }}
  <button type="submit" class="btn submit">Add To Reading Log</button>
</form>
<h3>Past Readings</h3>
{% if book.reading_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for reading in book.reading_set.all %}
      <tr>
        <td>{{reading.date}}</td>
        <td>{{reading.get_status_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="subsection-content">
    <p>⚠️ {{book.title}} has not been read!</p>
  </div>
{% endif %}
    </section>
  </div>


{% endblock %}