{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/books.svg' %}" alt="books" />
  </div>
  <div class="mountain-details">
    <h2 class="card-title">{{ book.title }}</h2>
      <h2 class="card-title">{{ book.author }}</h2>
      <h2 class="card-title">{{ book.genre }}</h2>
      <h2 class="card-title">{{ book.description }}</h2>
      <div class="book-actions">
        <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
        <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
      </div>
    </div>
</section>

{% endblock %}