{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-home.css' %}" />
{% endblock %}
{% block content %}

<section class="logo-container">
  <h1 class="home-title">Welcome to Your<br>Book Collection<br></h1>
  <p class="home-subtitle">Track, reflect on, and celebrate<br>your reading journey<br></p>
  <div class="book-container">
    <img
      src="{% static 'photos/books2.svg' %}"
      alt="A stack of books"
    />
  </div>
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}
{% endblock %}
